[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
pydantic-settings = "*"
pydantic = "*"
docx = "*"
pypdf2 = "*"
python-docx = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
