[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
pydantic-settings = "*"
pydantic = "*"
docx = "*"
pypdf2 = "*"
python-docx = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
pycryptodome = "*"
stanza = "*"
docx2pdf = "*"
eyecite = "*"
hyperscan = "*"
install = "*"
sentencepiece = "*"
langchain = "*"
google-cloud-aiplatform = "*"
langchain-community = "*"
langchain-google-vertexai = "*"
config = "*"
fpdf = "*"
reportlab = "*"
pip = "*"
pypandoc = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
